<header class="header navbar navbar-expand-lg navbar-light bg-light">
    <a href="/" class="navbar-brand">
        <img src="/img/logo.png" alt="logo" width="90" height="90">
        Admin Page
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto mr-3">
            <li class="nav-item mr-2 <%= locals.currentPage === 'Home' ? 'active' : '' %>">
                <a href="/" class="nav-link"><i class="fas fa-home"></i> Home</a>
            </li> 
            <li class="nav-item mr-2 <%= locals.currentPage === 'About' ? 'active' : '' %>">
                <a href="/about" class="nav-link"><i class="fas fa-info-circle"></i> About</a>
            </li>
            <li class="nav-item mr-2 <% if (currentPage === 'Contact') { %>active<% } %>">
                <a href="/contact" class="nav-link"><i class="fas fa-envelope"></i> Contact</a>
            </li>
        </ul>
    </div>
    <div class="header__button">
        <a href="/admin/logout" class="btn btn-outline-secondary my-2 my-sm-0">
          Logout
        </a>
    </div>
</header>