<header class="header">
    <a href="/" class="header__logo">logo</a>
    <nav class="header__nav">
        <ul class="header__nav-list">
            <li class="header__nav-item">
                <a href="/" class="">Home</a>
            </li> 
            <li class="header__nav-item">
                <a href="/about" class="">About</a>
            </li>
             <li class="header__nav-item">
                <a href="/contact" class="">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <button class="searchBtn" aria-expanded="false">
            Search
            <?xml version="1.0" ?><svg class="feather feather-search" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><circle cx="11" cy="11" r="8"/><line x1="21" x2="16.65" y1="21" y2="16.65"/></svg>
        </button>
    </div>


</header>