<h1>Search results for "<%= query %>":</h1>
<% if (posts.length > 0) { %>
    <% posts.forEach(post => { %>
        <div>
            <h2><%= post.title %></h2>
            <p><%= post.content %></p>
            <a href="/posts/<%= post._id %>">Read More</a>
        </div>
    <% }) %>
<% } else { %>
    <p>No posts found.</p>
<% } %>