<div class="searchBar">
    <div class="container">
        <form action="/search" class="searchForm" role="search" method="POST">
            
            <input
                type="search"
                aria-label="Search"
                name="searchTerm"
                id="searchInput"
                placeholder="Search the site..."/>
                
    </div>
</div>