<section class="about-hero">
    <h1 class="hero-title">About Me</h1>
</section>

<section class="about-content">
    <h2 class="content-title">Who Am I</h2>
    <p class="content-text">I am Mike Dowell's. A 3rd Year Computer Science Student in Griffith College Dublin. I am a tech enthusiast and I like everything related to Artificial Intelligence. I am also passionate about drawing and writing, as well as a wide range of creative activities.</p>
</section>

<section class="about-content">
    <h2 class="content-title">What I Do</h2>
    <p class="content-text">I have completed many projects, including websites, apps and softwares. I am still an aspiring junior software and web developer still in the process of learning. Additionaly, my side hobbies are illustrator and graphical designer, but I also recently started writing.</p>
</section>