<div class="author">
    <h1 class="author__heading">Hi, Mike here.</h1>
    <p class="author__body">I'm a Web developer and Artist.</p>
</div>

<img src="https://www.gravatar.com/avatar/" alt="Mike's profile picture" class="hero-image" width="200" height="200">

<section class="articles">
    <h2 class="articles__heading">My latest articles</h2>

    <% posts.forEach(post => { %>
        <li>
            <a href="#">
                <img src="<%= post.image %>" alt="<%= post.title %>" width="200" height="200">
                <span><%= post.title %></span>
                <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
            </a>
        </li>
        <% }) %>

    <a href="#" class="pagination">&lt; View older articles</a>
</section>