<div class="author">
    <h1 class="author__heading">Hi, Mike here.</h1>
    <p class="author__body">I'm a Web developer and Artist.</p>
</div>

<img src="https://www.gravatar.com/avatar/" alt="Mike's profile picture" class="hero-image" width="200" height="200">

<section class="articles">
    <h2 class="articles__heading">My latest articles</h2>

    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View older articles</a>
</section>